# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

proj4/bin
proj4/obj
.directory
proj3/.vscode/settings.json
settings.json

# proj4/speedtest
# proj4/kmlout
# proj4/transplanner
proj4/.nfs00000000f0adac7b0000009d
